.tabuleiro {
  $size: 560px;
  display: grid;
  border: 1px solid;
  width: $size;
  height: $size;

  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-gap: 0;
 
  .casa {
    &-preta {
      background-color: #999; 
    }

    &-branca {
      background-color: #fff; 
    }

    &-preta,
    &-branca {
      font-size: 48px;
      text-align: center;
    }
  }

  .peca-branca {
    &--peao {
      &::before {
        content: "\2659";
      }
    }

    &--rainha {
      &::before {
        content: "\2655";
      }
    }

    &--bispo {
      &::before {
        content: "\2657";
      }
    }

    &--cavalo {
      &::before {
        content: "\2658";
      }
    }

    &--torre {
      &::before {
        content: "\2656";
      }
    }

    &--rei {
      &::before {
        content: "\2654";
      }
    }
  }

  .peca-preta {
    &--peao {
      &::before {
        content: "\265F";
      }
    }

    &--rainha {
      &::before {
        content: "\265B";
      }
    }

    &--bispo {
      &::before {
        content: "\265D";
      }
    }

    &--cavalo {
      &::before {
        content: "\265E";
      }
    }

    &--torre {
      &::before {
        content: "\265C";
      }
    }

    &--rei {
      &::before {
        content: "\265A";
      }
    }
  }
}